  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10">
        <div id="titlefooter">
          <h4 class="visible-lg" style="padding-top:1%;"><strong>{% trans %}footer.title{% endtrans %}</strong></h4>
          <h4 class="visible-md" style="padding-top:1.4%;"><strong>{% trans %}footer.title{% endtrans %}</strong></h4>
          <h4 class="visible-sm" style="padding-top:1.8%;"><strong>{% trans %}footer.title{% endtrans %}</strong></h4>
          <h4 class="visible-xs" style="padding-top:2.2%;"><strong>{% trans %}footer.title{% endtrans %}</strong></h4>
        </div>
      </div>
    </div>

    <!-- LG, MD and SM -->
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:2%;">
        <div class="row">
		      <div class="col-lg-offset-5 col-md-offset-5 col-sm-offset-3 col-xs-offset-3 text-left">
			      <div class="foot-link">
			        <a data-toggle="modal" data-target="#modalContact" href="#" title="{% trans %}footer.contact{% endtrans %}"><span class="fa fa-envelope">&nbsp;&nbsp;&nbsp;{% trans %}footer.contact{% endtrans %}</span></a>
			      </div>
			      <div class="foot-link">
			        <a href="#" title="{% trans %}footer.premium{% endtrans %}"><span class="fa fa-star">&nbsp;&nbsp;&nbsp;{% trans %}footer.premium{% endtrans %}</span></a>
			      </div>
			      <div class="foot-link">
			        <a data-toggle="modal" data-target="#modalWhat" href="#" title="{% trans %}footer.what{% endtrans %}"><span class="fa fa-question-circle">&nbsp;&nbsp;&nbsp;{% trans %}footer.what{% endtrans %}</span></a>
			      </div>
		      </div>
        </div>
	    </div>

      <!-- SOCIAL BUTTONS : LG, MD and SM -->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1" style="padding:1%;">
        <div class="visible-lg visible-md">
          <?php echo $footer[$_SESSION['language']]['socials']['desc'];?>
        </div>
        <ul>
          <li><a href="https://www.facebook.com/gozpeak" title="{% trans %}footer.facebook{% endtrans %}"> {% trans %}footer.facebook{% endtrans %} </a></li>
          <li><a href="#" title="{% trans %}footer.legalnotice{% endtrans %}"> {% trans %}footer.legalnotice{% endtrans %}</a></li>
        </ul>
      </div>
    </div>

    <div id="copyright" class="row text-center">
      <i> Gozpeak {{ year }} &copy; </i>
    </div>
  </div>
