/**************************/
/******** CSS HOME ********/


/**** HOME ****/
/*header {
  height: 61%;
  font-size: 20pt;
  margin-bottom: 5%;
}*/

.jumbotron {
  background-color: #87CEFA;
}

.jumbotron a {

  margin-right: 5%;
}

.activities {
  min-width: 615px;
	font-size: 14pt;
	color: #576CAA;
}

/*#course-message {
        font-size: 15px;
        text-shadow: 0 -0px 0 rgba(0, 0, 0, 0. 50);
        color: #18838C;
}*/
/*#corpse {
  margin-left: 4%;
  margin-right: 4%;
}*/

/*#corpse a {
  color:rgb(34,78,126);
}*/




/* ### CAROUSEL */
/*#zpeak_carousel {
  background-color: #CECECE;
  border-radius: 30px;
  height: 630px;
  margin-bottom: 3%;
  margin-top: 2%;
}

.carousel-page {
  margin-top: 3%;
}

.carousel-control {
  background-color: #CECECE;
  border-radius: 30px;
}

.branding {
  color: #16599C;
}

#brand-block {
  height:10%;
  color: #16599C;
  margin-bottom: 2%;
}

.promote-block {
  height:10%;
	color: #16599C;
  font-style: oblique;
}

.promote-block img {
  min-width: 340px;
  max-width: 370px;
}*/
