/***** Design of list.php, list-head.php ..... *****/

/*#scrollable-dropdown-menu .tt-dropdown-menu {
  max-height: 150px;
  overflow-y: auto;
}*/


.listing-header {
  min-height: 19%;
  max-height: 25%;
  font-size: 13pt;
  margin-bottom: 5%;
}


#selectedLanguages {
  margin: 3%;
  border-radius: 3px;
}


.activity {
	font-size: 14pt;
	color: #576CAA;
}


/*********************/

.eventsblock {
  background-color: #F1F1F1;
  border-radius: 20px;
  padding-top: 0.7%;
}

.pageblock {
  margin:auto;
  width: 70%;
}


.listing-events legend {
  font-size: 19pt;
  font-weight: bold;
  font-style: italic;
  /*margin-left: 4%;
  margin-right: 4%;*/
  margin-bottom: 6%;
  min-height: 85px;
  max-height: 150px;
}

.listing-events fieldset {
  min-height: 75%;
  max-height: 100%;
}


.empty-events {
  height: 45px;
  font-size: 12pt;
}


.ideas-title {
  color: rgb(34, 80, 138);

}

.events-title {
  color: rgb(205, 90, 50);

}

.table-responsive {
  overflow-y: visible !important;
  overflow-x: visible !important;
}

/* END OF list-head.php */
/************************/


/*.list-titles {
        width: 25%;
        font-size: 16px;
        margin:auto;
        float:center;
}


.list-content-head {
        float:center;
	margin:auto;
	padding-right:4%;
        width:80%;
}


.list-lang {
        width: 27%;
        float: left;
        text-align:left;
	margin-top:4%;
}

.list-sort {
        width: 28%;
        float: right;
        text-align:left;
}
*/



/***** list.php *****/
/********************/

/*.list-content {
        width: 90%;
        height: 100%;
        margin:auto;
        float:center;
        padding-top: 4%;
        padding-bottom: 2%;
	      margin-bottom: 4%;
}


.middle-left {
        float:left;
        width: 50%;
        height: 100%;
}


.middle-right {
        float:right;
        width: 50%;
        height: 100%;
}

.list-content-left {
        background-image: url("../images/papier.png");
        background-repeat:no-repeat;
        background-size: 100% 100%;
        background-attachment:local;
        float:left;
        height:100%;
        width:80%;
}


.pagination-left {
	font:16px "noteworthy";
	font-style: bold;
	margin-right: auto;
	width: 75%;
	float:left;
}

.pagination-right {
	font:16px "noteworthy";
	font-style: bold;
	margin-right: auto;
	width: 36%;
	float:right;
}

.list-content-right {
        background-image: url("../images/papier.png");
        background-repeat:no-repeat;
        background-size: 100% 100%;
        background-attachment:local;
        float:right;
        height:100%;
        width:80%;
}*/


/*** Title in left paper ***/
/*.list-content-img-left {
        width: 60%;
        margin:auto;
        padding-bottom: 3.5%;
        font:28px "noteworthy";
        color:#d9523b;
}*/


/*** Title in right paper ***/
/*.list-content-img-right {
        width: 60%;
        margin:auto;
        padding-bottom: 3.5%;
        font:28px "noteworthy";
        color:#2b5f92;
}*/



/***** List tables *****/
/***********************/
/* Left table */
/*.list-content-left table {
        margin: auto;
        width:96%;
        font-size:14px;
        border-spacing:2px;
        text-align:left;
        margin-left: 2.5%;
}


.list-content-left th {
        font-size:16px;
        text-decoration: underline;
	padding-bottom:1.2%;
}


.list-content-left td {
        font-size:14px;
        padding-top: 0.2%;
}
*/


/*** Right table ***/
/*******************/
/*.list-content-right table {
        margin: auto;
        width:96%;
        font-size:14px;
        border-spacing:2px;
        text-align:left;
        margin-left: 2.5%;
}

.list-content-right th {
        font-size:16px;
        text-decoration: underline;
	padding-bottom:1.2%;
}

.list-content-right td {
        font-size:14px;
        padding-top: 0.2%;
}
*/
